.CalcKeyBoard {
    width: 225px;
    height: 280px;

    background-color: rgb(1, 1, 1);
    font-size: 20px;
    font-family: sans-serif;

    display: grid;
    justify-content: center;
    align-content: center;
    
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;
    grid-template-areas:
    "AC Sign Percent Division"
    "N7 N8 N9 Multiplication"
    "N4 N5 N6 Minus"
    "N1 N2 N3 Plus"
    "N0 N0 Coma Enter";
}

.CalcKeyBoard_disabled {
    width: 209px;
    height: 280px;
    display: grid;
}

.N0{
    grid-area: N0;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N1{
    grid-area: N1;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N2{
    grid-area: N2;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N3{
    grid-area: N3;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N4{
    grid-area: N4;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N5{
    grid-area: N5;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N6{
    grid-area: N6;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N7{
    grid-area: N7;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N8{
    grid-area: N8;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.N9{
    grid-area: N9;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.Coma{
    grid-area: Coma;
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
}
.AC{
    grid-area: AC;
    background-color: rgb(166, 166, 166);
    color: rgb(0,0,0);
}
.Sign{
    grid-area: Sign;
    background-color: rgb(166, 166, 166);
    color: rgb(0,0,0);
}
.Percent{
    grid-area: Percent;
    background-color: rgb(166, 166, 166);
    color: rgb(0,0,0);
}
.Division{
    grid-area: Division;
    background-color: rgb(255, 159, 10);
    color: rgb(255,255,255);
}
.Multiplication{
    grid-area: Multiplication;
    background-color: rgb(255, 159, 10);
    color: rgb(255,255,255);
}
.Minus{
    grid-area: Minus;
    background-color: rgb(255, 159, 10);
    color: rgb(255,255,255);
}
.Plus{
    grid-area: Plus;
    background-color: rgb(255, 159, 10);
    color: rgb(255,255,255);
}
.Enter{
    grid-area: Enter;
    background-color: rgb(255, 159, 10);
    color: rgb(255,255,255);
}

