.CalcButton {
    display: grid;
    align-items: center;
    justify-items: center;

    border-radius: 25px;
    /*line-height: 43px;

    font-weight: bold;
    text-align: center;*/
}

.CalcButton_disabled {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 25px;    
    /*line-height: 43px;

    font-weight: bold;
    text-align: center;*/
}
