.CalcButton {
    display: grid;
    align-items: center;
    justify-items: center;

    border-radius: 25px;
}

.CalcButton_disabled {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 25px;    
}

.CalcButton_activeNumbers {
    background-color: rgb(115, 115, 115);
}
.CalcButton_activeSigns {
    background-color: rgb(251, 199, 142);
}
.CalcButton_activeSpecial {
    background-color: rgb(217, 217, 217);
}
